.highlighted {
    background-color: magenta;
}

.starred {
    font-weight: bold;
}

.starred::before {
    content: '⭐';
}

.todo--container {
    width: 100%;
    height: auto;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #CEC0BD;
    margin-bottom: 10px;
    color:#333;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #333;
}

.todo--container-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
}

.todo--options-container {
    display: flex;
    width: 100%;
    justify-content: end;
}

.todo--options-container button {
    padding: 10px;
}

.hidden {
    display: none;
}

.todolist--container {
    /* background-color: rgba(0, 0, 0, 0.7); */
    border-radius: 10px;
    width: 50%;
    display:flex;
    flex-direction:column;
    padding: 0 25px;
}

.todo--task-title-input {
    height: 30px;
    width: 100%;
}