.App {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: "Zilla Slab", serif;
  font-weight: bold;
  color: #BA9BAF;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

a:link, a:visited {
  text-decoration: none;
  background-color: #E4B1C0;
  border-radius: 3px;
  color:#333;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  border: 2px solid #333;

}

a:hover, button:hover {
  background-color: #B4A3CC;
  color: whitesmoke;
}

button {
  text-decoration: none;
  background-color: #E4B1C0;
  border-radius: 3px;
  color:#333;
  font-weight: bold;
  width: 100px;
  height: 50px;
  border: 2px solid #333;
  text-align: center;
  margin: 0 10px;
}


/* 
#C2A0B6 (dark lilac)
#A19CA5 (pale olive)
#D6C8C4 (pale gold)
#BAAAD4 (pale indigo)
#EDB9C9 (light pink)

*/