.App {
  display: flex;
  flex-direction: column;

}

h1, h2, h3 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  color: #FE5D9F;
}

a:link, a:visited {
  text-decoration: none;
  background-color: #FE5D9F;
  border-radius: 3px;
  color:black;
  font-weight: bold;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

a:hover {
  background-color: #F4BBD3;
  color: black;
}